.page
{
    display: grid;
    column-gap: 10px;
}
.leftSide
{
    display: flex;
    justify-content: center;
    padding-top: 15%;
    grid-column-start: 1;
    grid-column-end: 3;
    border-style: solid;
}
.rightSide
{
    grid-column-start: 4;
    grid-column-end: 10;
    border-style: dotted;
}