@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.page
{
    display: grid;
    column-gap: 10px;
}
.leftSide
{
    display: flex;
    justify-content: center;
    padding-top: 15%;
    grid-column-start: 1;
    grid-column-end: 3;
    border-style: solid;
}
.rightSide
{
    grid-column-start: 4;
    grid-column-end: 10;
    border-style: dotted;
}
.messages-container {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
}
